{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <h1 class="display-1 text-center"> Lista de Que haceres Diarios </h1>
  <h3 class="text-center">¿Que tienes pensado para hoy?</h3>

<div class="row" style="margin-top:5%; margin:3%;">
  <div class="col-6" style="margin-top:15%;">
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
          <input type="text" placeholder="What do you want for today?" class="form-control text-center" name="task" id="task">
          <textarea type="text" placeholder="Short Description about that?" class="form-control text-center" name="description" id="description"></textarea>
          <input type="date" id="date" name="date">
          <input type="submit" value="save" class="btn btn-danger btn-block" id="btnRecord">
      </div>
    </form>
  </div>

  <div class="col-6">
    <hr>
    <h3 class="text-center">Tareas</h3>
    <div>
      {% if model %}
          {% for t in model %}
            <ul class="text-center" id="tasks">
              <div id="id" hidden>{{t.task_id}}</div>
              <li>{{t.task_name}}</li>
              <li>{{t.date}}</li>
              <form method="get">
                <li><a href="{% url 'home' %}" class="show" data-catid="{{ t.task_id }}">ver mas </a></li>
              </form>
            </ul>
          {% endfor %}
      {% else %}
        <p>No tienes tareas pendientes :)</p>
      {% endif %}
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
    $('#btnRecord').click(function(){
        let task = $('#task').val()
        let description = $("#description").val()
        let date= $("#date").val()
        let csrf_token = $("input[name=csrfmiddlewaretoken]").val()

        $.ajax({
          url: "{% url 'home' %}",
          type: "POST",
          data:{
            tarea:task,
            descripcion:description,
            fecha:date,
            csrfmiddlewaretoken:csrf_token
          },
          success: function(response){
            html = "<li>" + response.data['task'] + "</li><li>" + response.data['date'] + "</li><button class=" + "show" + ">ver mas </button>"
            $("#tasks").append(html);
          }
        })
        return false;
    });

    $(".show").click(function(){
      catid = $(this).attr("data-catid");
      $.ajax({
        type:'GET',
        data:{
          id:catid
        },
        success:function(response){
          alert(response.data['descripcion'])
        }
      });
      return false;
    });
});
</script>
</body>
</html>
